* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Condensed', 'El Messiri';
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* component */
a {
    text-decoration: none;
    color: black;
}


/* header start */
.header {
    padding-top: 10px;
    width: 100%;
    box-shadow: 0px 3px 3px #d6d6d6;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    position: relative;
    transition: 0.4s;
}

.header .container .logo a {
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
    transition-delay: 0.1s;
    padding: 15px 10px 15px 4px;
}

.header .container .logo::before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: black;
    width: 0;
    transition: 0.4s;
    z-index: -1;
    transform: skew(-15deg);
}

.header .container .logo:hover a {
    color: white;
}

.header .container .logo:hover::before {
    width: 100%;
}

.header .container .nav ul {
    display: flex;
}

.header .container .nav ul li {
    position: relative;
    text-align: center;
}

.header .container .nav ul li a {
    padding: 25px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    align-items: center;
}

.header .container .nav ul li a i {
    position: absolute;
    transition: 0.5s;
    padding: 5px;
    margin-right: 10px;
}

.header .container .nav ul li a span {
    font-weight: bold;
    font-size: 17px;
    /* position: absolute; */
    opacity: 0;
    transition: 0.5s;
}

.header .container .nav ul li:hover a i {
    transform: translateX(-50px) rotate(360deg);
    border-radius: 50%;
    box-shadow: 0px 2px 3px black;
}

.header .container .nav ul li:hover a span {
    opacity: 1;
}

.header .container .nav ul li:hover a .fa-house {
    transform: translateX(-42px) rotate(360deg);
}

.header .container .nav ul li:hover a .fa-weight-scale {
    transform: translateX(-30px) rotate(360deg);
}

/* Tablets */
@media (max-width: 992px) {
    .header .container .logo a {
        font-size: 24px;
        padding: 10px;
    }

    .header .container .nav ul li a {
        font-size: 18px;
        padding: 15px;
    }
}

/* Mobiles landscape */
@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
    }

    .header .container .nav ul {
        margin-top: 10px;
    }
}

/* Small mobiles */
@media (max-width: 576px) {
    .header .container .nav ul {
        flex-direction: row;
        align-items: center;
    }

    .header .container .nav ul li {
        width: 100%;
    }

    .header .container .nav ul li a {
        font-size: 16px;
        padding: 8px;
    }

    .header .container .nav ul li a i {
        display: none;
    }

    .header .container .nav ul li a span {
        opacity: 1;
    }
}

@media (max-width: 300px) {

    .header .container {
        flex-direction: column;
        align-items: center;
    }

    .header .container .logo {
        margin-bottom: 20px;
    }

    .header .container .nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .header .container .nav ul li a {
        padding: 10px;
        justify-content: center;
    }

    .header .container .nav ul li:hover a i,
    .header .container .nav ul li a i {
        transform: none;
        opacity: 1;
        position: static;
    }

    .header .container .nav ul li a span {
        opacity: 1;
        position: static;
    }

}

/* landing start */
.landing .container {
    background-image: url(../imgs/young-fitness-man-studio.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    width: 100%;
    /* animation: change-background 15s linear infinite; */
}

.landing .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 80%);
}

.landing .container .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing .container .text h1 {
    color: yellow;
    font-size: 70px;
}

.landing .container .text p {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.landing .container .btn {
    position: absolute;
    left: 50%;
    bottom: 100px;
}

.landing .container .btn a i {
    color: yellow;
    font-size: 30px;
    /* animation: bouncing 1.5s infinite; */
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

/* Tablets */
@media (max-width: 992px) {
    .landing .container .text h1 {
        font-size: 50px;
    }

    .landing .container .text p {
        font-size: 18px;
    }
}

/* Mobiles landscape */
@media (max-width: 768px) {
    .landing .container .text h1 {
        font-size: 40px;
    }

    .landing .container .text p {
        font-size: 16px;
    }
}

/* Small mobiles */
@media (max-width: 576px) {
    .landing .container {
        /* min-height: 80vh; */
        background-position: center;
    }

    .landing .container .text h1 {
        font-size: 40px;
    }

    .landing .container .text p {
        font-size: 20px;
    }

    .landing .container .btn {
        bottom: 30px;
    }

    .landing .container .btn a i {
        font-size: 24px;
    }

    .landing .container {
        animation: none;
    }
}

/* Very small screens */
@media (max-width: 350px) {
    .landing .container .text h1 {
        font-size: 24px;
    }

    .landing .container .text p {
        font-size: 12px;
    }

    .landing .container {
        animation: none;
    }

}

@media (min-width: 993px) {
    .landing .container .text h1 {
        font-size: 50px;
    }

    .landing .container .text p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .landing .container {
        min-height: 100vh;
        /* تغطي الشاشة كاملة على الموبايل */
    }
}


@keyframes change-background {

    0%,
    100% {
        background-image: url("../imgs/young-fitness-man-studio.jpg");
    }

    50% {
        background-image: url("../imgs/flat-lay-salad-with-chicken-sesame-seeds.jpg");
    }

    80% {
        background-image: url("../imgs/low-angle-view-unrecognizable-muscular-build-man-preparing-lifting-barbell-health-club.jpg");
    }
}

/* landing end */
/* benefits start */

.benefits {
    margin-top: 100px;
}

.benefits .heading {
    text-align: center;
    font-size: 30px;
    position: relative;
}

.benefits .heading::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 30px;
    height: 10px;
    width: 30%;
    background-color: yellow;
    transform: translateX(-50%) translateY(50px);
    transition: 0.5s;
}

.benefits .heading::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 30px;
    height: 10px;
    width: 20%;
    background-color: yellow;
    transform: translateX(-50%) translateY(80px);
    transition: 0.5s;
}

.benefits .heading:hover::before {
    width: 40%;
}

.benefits .heading:hover::after {
    width: 30%;
}

.benefits .container {
    padding-top: 190px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom: 150px;
    perspective: 600px;
    margin-right: 20px;
}

.benefits .container .card {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 230px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.benefits .container .card:hover {
    transform: rotateY(-180deg) scale(1.1);
    z-index: 2;
}

.benefits .container .card:not(:hover) {
    transform: scale(0.9);
    transition: transform 0.5s ease-in-out;
}

.benefits .container .card .face {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 10px #777;
}

.benefits .container .card .front {
    border-radius: 20px;
    background-color: black;
    color: yellow;
    font-size: 30px;
    font-weight: bold;
}

.benefits .container .card .back {
    border-radius: 20px;
    background-color: yellow;
    transform: rotateY(180deg);
    color: black;
    line-height: 1.8;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
}

.benefits .container .card:hover .back {
    transform: rotateY(180deg) scale(1.05);
}

.benefits .container .card .face i {
    width: 100%;
    font-size: 60px;
}

@media (max-width: 767px) {
    .benefits .container {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits .container .card {
        width: 280px;
        height: 350px;
        margin-bottom: 30px;
    }

    .benefits .container .card .face {
        width: 100%;
        height: 100%;
    }

    .benefits .container .card .face i {
        font-size: 50px;
    }

    .benefits .container .card .front {
        font-size: 25px;
    }

    .benefits .container .card .back {
        font-size: 20px;
        line-height: 1.5;
    }
}

/* benefits end */